---
import HTML from "../icons/HTML.astro";
import CSS from "../icons/CSS.astro";

const Tags = {
    Html: {
        name: "HTML",
        class: "bg-black text-white",
        icon: HTML,
    },
    Css: {
        name: "CSS",
        class: "bg-blue-500 text-white",
        icon: CSS,
    },
};

const Proyectos = [
    {
        title: "Desarrollo de Sitio Web Personal con Astro y TailwindCSS",    
        description: "Sitio web personal desarrollado con Astro y TailwindCSS, con el objetivo de mostrar mis habilidades y proyectos.",
        img: "/public/projects/portfolio.webp",
        link: "https://svgl.vercel.app/",
        tags: [Tags.Html, Tags.Css],
    },
];
---

{
    Proyectos.map(({title, description, img, tags}) => (
        <article class="max-w-full overflow-hidden p-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <h3 class="text-lg font-semibold text-blue-800 mb-2">
                {title}
            </h3>
            <p class="mb-4 text-base font-normal text-justify text-blue-950">{description}</p>
            <ul class="flex gap-x-4 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4"/>
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <div class="relative w-full h-0 pb-[56.25%] overflow-hidden">
                <img
                class="absolute top-0 left-0 w-full h-full object-cover rounded border border-gray-200 dark:border-gray-700 hover:scale-105 transition-all"
                src={img}
                alt={title}
            />
            </div>
           
        </article>
    ))
}
